WEB/Servicios/Ws_Miprepago/WCFServiceTest/Service References/ModeloWS/Smodelo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60184/Smodelo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" />
  <xs:element name="crearModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="marcaACrear" nillable="true" type="q1:Modelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="crearModeloResult" nillable="true" type="q2:Modelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="obtenerModeloResult" nillable="true" type="q3:Modelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="listarModeloResult" nillable="true" type="q4:ArrayOfModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_ModeloxMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_ModeloxMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="Listar_ModeloxMarcaResult" nillable="true" type="q5:ArrayOfModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado_ModeloxMarca_Proveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado_ModeloxMarca_ProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="Listado_ModeloxMarca_ProveedorResult" nillable="true" type="q6:ArrayOfModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>