WEBS/WebSite/Service References/S_MiPrepago_Proveedor_Rest/ProveedorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModeloProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloProveedor" nillable="true" type="tns:ModeloProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloProveedor" nillable="true" type="tns:ArrayOfModeloProveedor" />
  <xs:complexType name="ModeloProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="marcaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:float" />
      <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor_id" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloProveedor" nillable="true" type="tns:ModeloProveedor" />
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modeloId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor_id" type="xs:int" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
</xs:schema>