WEBS/WebSite/Service References/S_MiPrepago_Proveedor_Rest/ProveedorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60184/ProveedorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" />
  <xs:element name="consultarDisponibilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarDisponibilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="consultarDisponibilidadResult" nillable="true" type="q1:ArrayOfModeloProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>