WEBS/WebSite/Service References/S_MiPrepago_Modelo/Smodelo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeloRepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="marca_marca_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloRepetidoException" nillable="true" type="tns:ModeloRepetidoException" />
</xs:schema>