WEBS/WebSite/Service References/S_MiPrepago_Marca/Marcas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
</xs:schema>