WEBS/WebSite/Service References/S_MiPrepago_Marca/Marcas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60184/Marcas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" />
  <xs:element name="crearMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="marcaACrear" nillable="true" type="q1:Marca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="crearMarcaResult" nillable="true" type="q2:Marca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="ObtenerMarcaResult" nillable="true" type="q3:Marca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMarca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" minOccurs="0" name="listarMarcaResult" nillable="true" type="q4:ArrayOfMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calcularResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>