WEBS/WebSite/Service References/S_MiPrepago_Marca/Perdidas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Perdidas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60184/Marcas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60184/Marcas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" />
      <xsd:import schemaLocation="http://localhost:60184/Marcas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60184/Marcas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarcas_crearMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:crearMarca" />
  </wsdl:message>
  <wsdl:message name="IMarcas_crearMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IMarcas_crearMarca_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WS_MiPrepago.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IMarcas_ObtenerMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarca" />
  </wsdl:message>
  <wsdl:message name="IMarcas_ObtenerMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IMarcas_listarMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMarca" />
  </wsdl:message>
  <wsdl:message name="IMarcas_listarMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IMarcas_calcular_InputMessage">
    <wsdl:part name="parameters" element="tns:calcular" />
  </wsdl:message>
  <wsdl:message name="IMarcas_calcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcularResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarcas">
    <wsdl:operation name="crearMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcas/crearMarca" message="tns:IMarcas_crearMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcas/crearMarcaResponse" message="tns:IMarcas_crearMarca_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMarcas/crearMarcaRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IMarcas_crearMarca_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcas/ObtenerMarca" message="tns:IMarcas_ObtenerMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcas/ObtenerMarcaResponse" message="tns:IMarcas_ObtenerMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcas/listarMarca" message="tns:IMarcas_listarMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcas/listarMarcaResponse" message="tns:IMarcas_listarMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcular">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcas/calcular" message="tns:IMarcas_calcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcas/calcularResponse" message="tns:IMarcas_calcular_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarcas" type="tns:IMarcas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearMarca">
      <soap:operation soapAction="http://tempuri.org/IMarcas/crearMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <soap:operation soapAction="http://tempuri.org/IMarcas/ObtenerMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMarca">
      <soap:operation soapAction="http://tempuri.org/IMarcas/listarMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcular">
      <soap:operation soapAction="http://tempuri.org/IMarcas/calcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Perdidas">
    <wsdl:port name="BasicHttpBinding_IMarcas" binding="tns:BasicHttpBinding_IMarcas">
      <soap:address location="http://localhost:60184/Marcas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>